<h2 mat-dialog-title>Create Attribute Kind</h2>
<mat-dialog-content class="mat-typography" [formGroup]="attributeKindFormGroup">
  <mat-form-field appearance="outline">
    <mat-label i18n>Name</mat-label>
    <input
      matInput
      formControlName="name"
      placeholder="Last name, First name"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Unit</mat-label>
    <mat-select formControlName="unit">
      <mat-option *ngFor="let unit of kinds" [value]="unit">{{
        unit | attributeName
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
  <button mat-raised-button cdkFocusInitial (click)="submit()">Install</button>
</mat-dialog-actions>
