<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="championFormGroup">
    <form [formGroup]="championFormGroup" style="display: grid">
      <ng-template matStepLabel>Champion Data</ng-template>
      <mat-form-field appearance="outline">
        <mat-label i18n>Name</mat-label>
        <input
          matInput
          formControlName="name"
          placeholder="Last name, First name"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Icon</mat-label>
        <input
          matInput
          formControlName="icon"
          placeholder="Last name, First name"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cost</mat-label>
        <mat-select formControlName="cost">
          <mat-option *ngFor="let cost of costs" [value]="cost">{{
            cost
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Splashart</mat-label>
        <input
          matInput
          formControlName="splashart"
          placeholder="Last name, First name"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Taits</mat-label>
        <mat-select formControlName="traits" multiple>
          <mat-option *ngFor="let trait of traits" [value]="trait.id">{{
            trait.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="championAttributesFormGroup">
    <form [formGroup]="championAttributesFormGroup">
      <ng-template matStepLabel>Champion Attributes</ng-template>
      <mat-accordion formArrayName="attributes" class="example-headers-align">
        <mat-expansion-panel
          [formGroupName]="i"
          *ngFor="let item of getChampionAttributesForm.controls; let i = index"
          [expanded]="step === i"
          (opened)="setStep(i)"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ returnAttributeName(item.value.attribute) | attributeName }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <section>
            <mat-checkbox [checked]="controlBindingAttr[i]" (change)="updateBinding(i)"
              >Checked</mat-checkbox
            >
          </section>
          <mat-form-field appearance="outline" style="width: 33%">
            <mat-label>Tier 1</mat-label>
            <input matInput formControlName="tier1" type="number" required />
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 33%">
            <mat-label>Tier 2</mat-label>
            <input
              matInput
              formControlName="tier2"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 33%">
            <mat-label>Tier 3</mat-label>
            <input
              matInput
              formControlName="tier3"
              required
            />
          </mat-form-field>
          <mat-action-row>
            <button
              mat-raised-button
              color="warn"
              *ngIf="step > 0"
              (click)="prevStep()"
            >
              Previous
            </button>
            <button mat-raised-button color="primary" (click)="nextStep()">
              {{
                step === getChampionAttributesForm.controls.length - 1
                  ? "End"
                  : "Next"
              }}
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="ultimateFormGroup">
    <form [formGroup]="ultimateFormGroup">
      <ng-template matStepLabel>Champion Ultimate</ng-template>

      <mat-card
        ><mat-card-content style="display: grid">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input
              matInput
              formControlName="name"
              placeholder="Last name, First name"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              formControlName="description"
              placeholder="Last name, First name"
              required
            ></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Icon</mat-label>
            <input
              matInput
              formControlName="icon"
              placeholder="Last name, First name"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Kind</mat-label>
            <mat-select formControlName="kind">
              <mat-option *ngFor="let kind of ultimateKinds" [value]="kind">{{
                kind
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </form>

    <form [formGroup]="ultimateAttributesFormGroup">
      <mat-card style="margin-top: 1rem">
        <mat-card-header>
          <mat-card-title>Attributes</mat-card-title>
          <button mat-button color="primary" (click)="addUltimateAttribute()">
            New Attribute
          </button>
          <button
            mat-button
            color="accent"
            (click)="createAttributeKindUltimate()"
          >
            New Attribute Kind
          </button>
        </mat-card-header>
        <mat-card-content>
          <div
            style="display: flex; padding: 0 24px 16px"
            [formGroup]="attribute"
            *ngFor="
              let attribute of ultimateAttributesArray.controls;
              let j = index
            "
          >
            <mat-form-field appearance="outline" style="width: 25%">
              <mat-label>Value Tier 1</mat-label>
              <input
                matInput
                formControlName="tier1"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 25%">
              <mat-label>Value Tier 2</mat-label>
              <input
                matInput
                formControlName="tier2"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 25%">
              <mat-label>Value Tier 3</mat-label>
              <input
                matInput
                formControlName="tier3"
                placeholder="Last name, First name"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 25%">
              <mat-label>Attribute Kind</mat-label>
              <mat-select formControlName="attributeKind">
                <mat-option
                  *ngFor="let attribute of ultimateAttributes"
                  [value]="attribute.id"
                  >{{ attribute.name | attributeName }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>{{ championFormGroup.value | json }}</p>
    <p>{{ championAttributesFormGroup.getRawValue() | json }}</p>
    <p>{{ ultimateFormGroup.value | json }}</p>
    <p>{{ ultimateAttributesFormGroup.value | json }}</p>
    <div>
      <button mat-raised-button matStepperPrevious>Back</button>
      <button mat-raised-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
